img{
    width: 100%;
    height: 100%;
}

.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;

}

.row > div{
    flex: 1;
}
.vertical-collage img{
    height: calc((100% - 5px)/2);
}

.squar-collage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}


.header, .nav, .main, .slider, .advertise, .footer{
    border: 1px solid red;
    margin: 5px;
}

.header{
    grid-area: header;
    background-color: aqua;
}
.nav{
    grid-area: nav;
    background-color: rgb(204, 204, 204);
}
.main{
    grid-area: main;
    background-color: rgb(23, 0, 155);
}
.slider{
    grid-area: slider;
    background-color: rgb(217, 255, 0);
}
.advertise{
    grid-area: advertise;
    background-color: rgb(0, 61, 85);
}
.footer{
    grid-area: footer;
    background-color: rgb(248, 216, 216);
}


.container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav main main slider"
    "nav main main advertise"
    "footer footer footer footer"
    ;
}


/* responsive for small device */

@media screen and (max-width: 576px) {
    .row{
        flex-direction: column;
        height: auto; /* i have fixed row's height above. so, the picture is overflow. here fixed it*/
    
    }
    .squar-collage{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .container{
        grid-template-areas: 
        "header header header header"
    "nav nav nav nav"
    "main main main main"
    "slider slider slider slider"
    "advertise advertise advertise advertise"
    "footer footer footer footer"
        ;
       

    }
    
}

/* responsive for medium design */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .row{
        flex-direction: column;
        height: auto; /* i have fixed row's height above. so, the picture is overflow. here fixed it*/
    
    }

    .container{
        grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "slider main main main"
        "advertise footer footer footer"
        ;

    }
}